<div>
  <app-menu-navegacao2></app-menu-navegacao2>

  <main class="bg-zinc-900">
    <section class="w-4/5 m-auto flex justify-center">
      <article class="">
        <div class="">
          <div class="w-full p-2">
            <img
              class="object-cover object-center w-full rounded-xl"
              alt="hero"
              src="images/BarberShop.jpg"
            />

            <div class="mt-4 flex justify-between">
              <section>
                <h5 class="text-white">Vintage Barber</h5>
                <p class="flex gap-1 items-center text-sm text-white">
                  <span class="">
                    <svg
                      class="w-5 h-5 text-purple-600"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M11.906 1.994a8.002 8.002 0 0 1 8.09 8.421 7.996 7.996 0 0 1-1.297 3.957.996.996 0 0 1-.133.204l-.108.129c-.178.243-.37.477-.573.699l-5.112 6.224a1 1 0 0 1-1.545 0L5.982 15.26l-.002-.002a18.146 18.146 0 0 1-.309-.38l-.133-.163a.999.999 0 0 1-.13-.202 7.995 7.995 0 0 1 6.498-12.518ZM15 9.997a3 3 0 1 1-5.999 0 3 3 0 0 1 5.999 0Z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </span>
                  Avenida São sebastião, 357, São Paulo
                </p>
              </section>

              <section>
                <div
                  class="bg-zinc-800 w-28 rounded-lg p-1 flex flex-col justify-center items-center"
                >
                  <p
                    class="text-white flex gap-1 justify-center items-center text-lg"
                  >
                    <span
                      ><svg
                        class="w-5 h-5 text-purple-600"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="currentColor"
                        viewBox="0 0 24 24"
                      >
                        <path
                          d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                        />
                      </svg> </span
                    >5,0
                  </p>

                  <small class="text-white">889 avalições</small>
                </div>
              </section>
            </div>

          <!-- SECTION SERVIÇOS -->

           <app-servicos-cards></app-servicos-cards>
            
          </div>
        </div>
      </article>

      <!-- ASIDE -->
      <aside class="p-2 grid row-span-3">
        <div>
          <div class="h-auto w-96">
            <div class="group bg-zinc-800 rounded-xl p-4">
              <div class="rounded-3xl">
                <img
                  src="images/mapa.png"
                  alt="image"
                  class="rounded-xl w-full h-40 relative z-10"
                />
              </div>
              <div
                class="flex flex-col items-center justify-center gap-4 text-center"
              >
                <div class="w-ful mt-5">
                  <p class="text-white uppercase text-start">Sobre nós</p>
                  <p class="font-light text-sm text-white text-left">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Aperiam deserunt iusto quos autem dolorum possimus, laborum
                    ad impedit, error, neque ducimus tenetur ea veniam
                    perferendis numquam illum.
                  </p>
                </div>

                <section
                  class="w-full border-t-2 border-b-2 pt-4 pb-4 border-zinc-700"
                >
                  <div class="flex justify-between items-center mb-2">
                    <p class="flex text-white font-normal gap-2 items-center">
                      <span>
                        <svg
                          class="w-6 h-6 text-white"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M5 4a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V4Zm12 12V5H7v11h10Zm-5 1a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H12Z"
                            clip-rule="evenodd"
                          />
                        </svg>
                      </span>

                      (11) 98204-5108
                    </p>

                    <span
                      href=""
                      class="bg-gray-700 rounded-xl p-2 text-white text-sm w-20"
                      >Copiar</span
                    >
                  </div>

                  <div class="flex justify-between items-center">
                    <p class="flex text-white font-normal gap-2 items-center">
                      <span>
                        <svg
                          class="w-6 h-6 text-white"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M5 4a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V4Zm12 12V5H7v11h10Zm-5 1a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H12Z"
                            clip-rule="evenodd"
                          />
                        </svg>
                      </span>

                      (11) 98204-5108
                    </p>

                    <span
                      href=""
                      class="bg-gray-700 rounded-xl p-2 text-white text-sm w-20"
                      >Copiar</span
                    >
                  </div>
                </section>

                <section class="w-full">
                 
                  <div class="w-full border-zinc-600 border rounded-lg p-2">
                    <div class="text-sm font-normal flex justify-between">
                      <p class="text-start text-zinc-400">Segunda</p>
                      <span class="text-white">Fechado</span>
                    </div>
                    <div class="text-sm font-normal flex justify-between">
                      <p class="text-start text-zinc-400">Terça-Feira</p>
                      <span class="text-white">09:00 - 21:00</span>
                    </div>
                    <div class="text-sm font-normal flex justify-between">
                      <p class="text-start text-zinc-400">Quarta-Feira</p>
                      <span class="text-white">09:00 - 21:00</span>
                    </div>
                    <div class="text-sm font-normal flex justify-between">
                      <p class="text-start text-zinc-400">Quinta-Feira</p>
                      <span class="text-white">09:00 - 21:00</span>
                    </div>
                    <div class="text-sm font-normal flex justify-between">
                      <p class="text-start text-zinc-400">Sexta-Feira</p>
                      <span class="text-white">09:00 - 21:00</span>
                    </div>
                    <div class="text-sm font-normal flex justify-between">
                      <p class="text-start text-zinc-400">Sábado</p>
                      <span class="text-white">08:00 - 17:00</span>
                    </div>
                    <div class="text-sm font-normal flex justify-between">
                      <p class="text-start text-zinc-400">Domingo</p>
                      <span class="text-white">Fchado</span>
                    </div>
                    
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </section>
  </main>

  <app-footer></app-footer>
</div>
