  <div class="body" style="background-color: rgb(24 24 27 / var(--tw-bg-opacity, 1));">
    <div class="w-4/5 mx-auto">
      <div class="mb-2">
        <p class="text-2xl font-medium text-white">Populares</p>
      </div>
      <div class="grid grid-cols-5 gap-4 mb-10">
        <!-- Iterar nos dados das barbearias -->
        <div
          *ngFor="let barberShop of barberShops"
          class="w-60 p-1 bg-zinc-900 border-2 rounded-2xl border-zinc-800"        >
          <a
            class="group relative mb-2 block overflow-hidden rounded-2xl bg-gray-100 lg:mb-3"
          >
            <img
              [src]="barberShop.imageUrl"
              loading="lazy"
              alt="Imagem da barbearia"
              class="w-full object-cover object-center transition duration-200 group-hover:scale-110 h-40"
            />
          </a>

          <div class="flex flex-col p-2">
            <p
              class="text-white hover:gray-800 mb-1 transition duration-100 lg:text-lg"
            >
              {{ barberShop.name }}
            </p>

            <p class="text-zinc-400">{{ barberShop.address }}</p>

            <button
              (click)="reserveBarberShop(barberShop.id)"
              class="flex hover:bg-violet-600 transition-all duration-500 bg-zinc-700 text-white justify-center items-center rounded-xl h-10 font-medium"
            >
              Reservar
            </button>
          </div>
        </div>
      </div>

      <div class="mb-2">
        <p class="text-2xl text-white font-medium">Mais Visitados</p>
      </div>

      <div class="grid grid-cols-5 gap-4 mb-10">
        <!-- Iterar nos dados das barbearias -->
        <div
          *ngFor="let barberShop of barberShops"
          class="w-60 p-1 bg-zinc-900 border-2 rounded-2xl border-zinc-800"
        >
          <a
            class="group relative mb-2 block overflow-hidden rounded-2xl bg-gray-100 lg:mb-3"
          >
            <img
              [src]="barberShop.imageUrl"
              loading="lazy"
              alt="Imagem da barbearia"
              class="w-full object-cover object-center transition duration-200 group-hover:scale-110 h-40"
            />
          </a>

          <div class="flex flex-col p-2">
            <p
              class="text-white hover:gray-800 mb-1 transition duration-100 lg:text-lg"
            >
              {{ barberShop.name }}
            </p>

            <p class="text-zinc-400">{{ barberShop.address }}</p>

            <button
              (click)="reserveBarberShop(barberShop.id)"
              class="flex hover:bg-violet-600 transition-all duration-500 bg-zinc-700 text-white justify-center items-center rounded-xl h-10 font-medium"
            >
              Reservar
            </button>
          </div>
        </div>
      </div>
  </div>

