<div class="box-border scroll-smooth">
  <!-- Header -->
  <app-menu-navegacao2></app-menu-navegacao2>

  <main class="w-full bg-zinc-900 p-5">
    <section class="w-4/5 m-auto flex justify-around">
      <article>
        <header class="w-4/5">
          <h6 class="text-white">Agendamentos</h6>
        </header>
        <section class="w-4/5 flex justify-around">
          <div>
            <header>
              <p class="text-zinc-400 font-medium">Confirmados</p>
            </header>

            <!-- Lista de Cards Confirmados -->
            <div *ngFor="let reserva of reservasConfirmadas" class="card">
              <div
                class="flex items-center rounded-xl bg-zinc-800 w-[440px] h-32 justify-between cursor-pointer"
                (click)="selecionarReserva(reserva.id)"
              >
                <div class="p-4 w-3/4 flex flex-col justify-evenly h-full gap-1">
                  <div
                    class="w-[85px] mb-2 rounded-full bg-violet-950 flex items-center justify-center"
                  >
                    <span class="text-violet-400 text-xs font-bold p-1">Confirmado</span>
                  </div>
                  <span class="text-white font-medium text-xl">{{ reserva.servico }}</span>
                  <article class="flex items-center justify-center gap-2">
                    <img class="h-8 w-8 rounded-full" src="images/1.jpg" alt="" />
                    <span class="text-white font-thin">{{ reserva.barbearia }}</span>
                  </article>
                </div>
                <div
                  class="flex flex-col justify-center gap-1 h-full border-s border-zinc-700 w-1/4"
                >
                  <span class="text-white font-thin text-center">{{ reserva.data }}</span>
                  <span class="text-white font-medium text-center text-3xl">{{ reserva.horario }}</span>
                </div>
              </div>
            </div>

            <p class="text-zinc-400 font-medium">Finalizados</p>

            <app-card-finalizado></app-card-finalizado>
          </div>
        </section>
      </article>

      <!-- Detalhes do Card Selecionado -->
      <div *ngIf="reservaSelecionada">
        <div class="h-auto w-96">
          <div class="group bg-zinc-800 rounded-xl p-4">
            <div class="rounded-3xl">
              <img
                src="images/mapa.png"
                alt="image"
                class="rounded-xl w-full h-40 relative z-10"
              />
            </div>
            <div
              class="flex flex-col items-center justify-center gap-4 text-center"
            >
              <div class="w-ful mt-5">
                <p class="text-white uppercase text-start">Sobre nós
                </p>
                <p style="color: white;">
                  A rede de Barbearia foi uma das primeiras tematizadas na cidade de São Paulo. Ela oferece os serviços de cortes de cabelo, barbearia, massagem, limpeza de pele, depilação e podologia. O espaço conta com um ambiente charmoso, com uma decoração levemente voltada para as antigas barbearias dos anos 50
                </p>
              </div>

              <section class="w-full">
                <div
                  class="w-[85px] mb-2 rounded-full bg-violet-950 flex items-center justify-center"
                >
                  <span class="text-violet-400 text-xs font-bold p-2 text-start"
                    >Confirmado</span
                  >
                </div>

                <div class="w-full border-zinc-600 border rounded-lg p-2">
                  <div class="text-white flex justify-between">
                    <p class="text-start">Serviço</p>
                    <span>{{ reservaSelecionada.servico }}</span>
                  </div>
                  <div class="text-sm flex justify-between">
                    <p class="text-start text-zinc-400">Preço</p>
                    <span class="text-white">R$ {{ reservaSelecionada.preco }}</span>
                  </div>
                  <div class="text-sm flex justify-between">
                    <p class="text-start text-zinc-400">Data</p>
                    <span class="text-white">{{ reservaSelecionada.data }}</span>
                  </div>
                  <div class="text-sm flex justify-between">
                    <p class="text-start text-zinc-400">Horário</p>
                    <span class="text-white">{{ reservaSelecionada.horario }}</span>
                  </div>
                  <div class="text-sm flex justify-between">
                    <p class="text-start text-zinc-400">Barbearia</p>
                    <span class="text-white">{{ reservaSelecionada.barbearia }}</span>
                  </div>
                </div>
              </section>

              <button
                class="rounded-lg py-2.5 px-6 text-center w-full text-white bg-red-600 transition-all duration-500 hover:bg-red-500"
                (click)="cancelarReserva()"
              >
                Cancelar Reserva
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- Pop-up de Confirmação -->
  <div class="popup-overlay" *ngIf="isPopupVisible" (click)="closePopup()"></div>
  <div class="popup" *ngIf="isPopupVisible">
    <div class="popup-content">
      <div class="popup-icon">
        <span>&#10003;</span>
      </div>
      <h3 class="popup-title">Cancelamento Efetuado!</h3>
      <p class="popup-message">Sua reserva foi cancelada com sucesso.</p>
      <button class="popup-confirm-button" (click)="closePopup()">Ok</button>
    </div>
  </div>

  <app-footer></app-footer>
</div>
