<main class="py-20 bg-zinc-900 container w-full">
    <div class="w-4/5 mx-auto">
      <div class="mb-2">
        <p class="text-2xl font-medium text-white">Populares</p>
      </div>

      <div class="grid grid-cols-5 gap-1 mb-10">
        <!-- product - start -->
        <div
          class="w-60 p-1 bg-zinc-900 border-2 rounded-2xl border-zinc-800"
        >
          <a
            href="#"
            class="group relative mb-2 block overflow-hidden rounded-2xl bg-gray-100 lg:mb-3"
          >
            <img
              src="https://images.unsplash.com/photo-1592647420148-bfcc177e2117?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGJhcmJlYXJpYXxlbnwwfHwwfHx8MA%3D%3D"
              loading="lazy"
              alt="Photo by Rachit Tank"
              class="w-full object-cover object-center transition duration-200 group-hover:scale-110 h-40"
            />
          </a>

          <div class="flex flex-col p-2">
            <p
              href="#"
              class="text-white hover:gray-800 mb-1 transition duration-100 lg:text-lg"
            >
              Vintage Barber
            </p>

            <p class="text-zinc-400">Avenida São Sebastião, 357 São Paulo</p>

            <a
              href="#"
              class="flex  hover:bg-violet-600 transition-all duration-500 bg-zinc-700 text-white justify-center items-center rounded-xl h-10 font-medium"
              >Reservar</a
            >
          </div>
        </div>
        <!-- product - end -->

        <!-- product - start -->
        <div
          class="w-60 p-1 bg-zinc-900 border-2 rounded-2xl border-zinc-800"
        >
          <a
            href="#"
            class="group relative mb-2 block overflow-hidden rounded-lg bg-gray-100 lg:mb-3"
          >
            <img
              src="https://images.unsplash.com/photo-1582771498000-8ad44e6c84db?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGJhcmJlYXJpYXxlbnwwfHwwfHx8MA%3D%3D"
              loading="lazy"
              alt="Photo by Rachit Tank"
              class="w-full object-cover object-center transition duration-200 group-hover:scale-110 h-40"
            />
          </a>

          <div class="flex flex-col p-2">
            <p
              href="#"
              class="text-white hover:gray-800 mb-1 transition duration-100 lg:text-lg"
            >
              Vintage Barber
            </p>
            <p class="text-zinc-400">Avenida São Sebastião, 357 São Paulo</p>

            <a
              href="#"
              class="flex  hover:bg-violet-600 transition-all duration-500 bg-zinc-700 text-white justify-center items-center rounded-xl h-10 font-medium"
              >Reservar</a
            >
          </div>
        </div>
        <!-- product - end -->

        <!-- product - start -->
        <div
          class="w-60 p-1 bg-zinc-900 border-2 rounded-2xl border-zinc-800"
        >
          <a
            href="#"
            class="group relative mb-2 block overflow-hidden rounded-lg bg-gray-100 lg:mb-3"
          >
            <img
              src="https://images.unsplash.com/photo-1660754389251-97a9dc7fbf16?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGJhcmJlYXJpYXxlbnwwfDF8MHx8fDA%3D"
              loading="lazy"
              alt="Photo by Galina N"
              class="w-full object-cover object-center transition duration-200 group-hover:scale-110 h-40"
            />
          </a>

          <div class="flex flex-col p-2">
            <p
              href="#"
              class="text-white hover:gray-800 mb-1 transition duration-100 lg:text-lg"
            >
              Vintage Barber
            </p>

            <p class="text-zinc-400">Avenida São Sebastião, 357 São Paulo</p>

            <a
              href="#"
              class="flex  hover:bg-violet-600 transition-all duration-500 bg-zinc-700 text-white justify-center items-center rounded-xl h-10 font-medium"
              >Reservar</a
            >
          </div>
        </div>
        <!-- product - end -->

        <!-- product - start -->
        <div
          class="w-60 p-1 bg-zinc-900 border-2 rounded-2xl border-zinc-800"
        >
          <a
            href="#"
            class="group relative mb-2 block overflow-hidden rounded-lg bg-gray-100 lg:mb-3"
          >
            <img
              src="https://images.unsplash.com/photo-1643281440921-5a066551b995?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGJhcmJlYXJpYXxlbnwwfDF8MHx8fDA%3D"
              loading="lazy"
              alt="Photo by eniko kis"
              class="w-full object-cover object-center transition duration-200 group-hover:scale-110 h-40"
            />
          </a>

          <div class="flex flex-col p-2">
            <p
              href="#"
              class="text-white hover:gray-800 mb-1 transition duration-100 lg:text-lg"
            >
              Vintage Barber
            </p>
            <p class="text-zinc-400">Avenida São Sebastião, 357 São Paulo</p>

            <a
              href="#"
              class="flex  hover:bg-violet-600 transition-all duration-500 bg-zinc-700 text-white justify-center items-center rounded-xl h-10 font-medium"
              >Reservar</a
            >
          </div>
        </div>
        <!-- product - end -->

        <!-- product - start -->
        <div
          class="w-60 p-1 bg-zinc-900 border-2 rounded-2xl border-zinc-800"
        >
          <a
            href="#"
            class="group relative mb-2 block overflow-hidden rounded-lg bg-gray-100 lg:mb-3"
          >
            <img
              src="https://images.unsplash.com/photo-1536520002442-39764a41e987?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8YmFyYmVyc2hvcCUyMGNoYWlyfGVufDB8MXwwfHx8MA%3D%3D"
              loading="lazy"
              alt="Photo by Irene Kredenets"
              class="w-full object-cover object-center transition duration-200 group-hover:scale-110 h-40"
            />
          </a>

          <div class="flex flex-col p-2">
            <p
              href="#"
              class="text-white hover:gray-800 mb-1 transition duration-100 lg:text-lg"
            >
              Vintage Barber
            </p>

            <p class="text-zinc-400">Avenida São Sebastião, 357 São Paulo</p>

            <a
              href="#"
              class="flex  hover:bg-violet-600 transition-all duration-500 bg-zinc-700 text-white justify-center items-center rounded-xl h-10 font-medium"
              >Reservar</a
            >
          </div>
        </div>
        <!-- product - end -->
      </div>

      <!-- Fim Section -->

      <div class="mb-2">
        <p class="text-2xl text-white font-medium">Mais Visitados</p>
      </div>

      <div class="grid grid-cols-5">
        <!-- product - start -->
        <div
          class="w-60 p-1 bg-zinc-900 border-2 rounded-2xl border-zinc-800"
        >
          <a
            href="#"
            class="group relative mb-2 block overflow-hidden rounded-lg bg-gray-100 lg:mb-3"
          >
            <img
              src="https://images.unsplash.com/photo-1621645582931-d1d3e6564943?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGJhcmJlcnNob3AlMjBjaGFpcnxlbnwwfDF8MHx8fDA%3D"
              loading="lazy"
              alt="Photo by Charles Deluvio"
              class="w-full object-cover object-center transition duration-200 group-hover:scale-110 h-40"
            />
          </a>

          <div class="flex flex-col p-2">
            <p
              href="#"
              class="text-white hover:gray-800 mb-1 transition duration-100 lg:text-lg"
            >
              Vintage Barber
            </p>

            <p class="text-zinc-400">Avenida São Sebastião, 357 São Paulo</p>

            <a
              href="#"
              class="flex  hover:bg-violet-600 transition-all duration-500 bg-zinc-700 text-white justify-center items-center rounded-xl h-10 font-medium"
              >Reservar</a
            >
          </div>
        </div>
        <!-- product - end -->

        <!-- product - start -->
        <div
          class="w-60 p-1 bg-zinc-900 border-2 rounded-2xl border-zinc-800"
        >
          <a
            href="#"
            class="group relative mb-2 block overflow-hidden rounded-lg bg-gray-100 lg:mb-3"
          >
            <img
              src="https://images.unsplash.com/photo-1592647420148-bfcc177e2117?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8NHx3TUE4bnc2WmU0b3x8ZW58MHx8fHx8"
              loading="lazy"
              alt="Photo by Fernando Lavin"
              class="w-full object-cover object-center transition duration-200 group-hover:scale-110 h-40"
            />
          </a>

          <div class="flex flex-col p-2">
            <p
              href="#"
              class="text-white hover:gray-800 mb-1 transition duration-100 lg:text-lg"
            >
              Vintage Barber
            </p>

            <p class="text-zinc-400">Avenida São Sebastião, 357 São Paulo</p>

            <a
              href="#"
              class="flex  hover:bg-violet-600 transition-all duration-500 bg-zinc-700 text-white justify-center items-center rounded-xl h-10 font-medium"
              >Reservar</a
            >
          </div>
        </div>
        <!-- product - end -->

        <!-- product - start -->
        <div
          class="w-60 p-1 bg-zinc-900 border-2 rounded-2xl border-zinc-800"
        >
          <a
            href="#"
            class="group relative mb-2 block overflow-hidden rounded-lg bg-gray-100 lg:mb-3"
          >
            <img
              src="https://images.unsplash.com/photo-1529434173292-b6709e2fe899?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YmFyYmVyJTIwc2hvcHxlbnwwfHwwfHx8MA%3D%3D"
              loading="lazy"
              alt="Photo by Kiran CK"
              class="w-full object-cover object-center transition duration-200 group-hover:scale-110 h-40"
            />
          </a>

          <div class="flex flex-col p-2">
            <p
              href="#"
              class="text-white hover:gray-800 mb-1 transition duration-100 lg:text-lg"
            >
              Vintage Barber
            </p>

            <p class="text-zinc-400">Avenida São Sebastião, 357 São Paulo</p>

            <a
              href="#"
              class="flex  hover:bg-violet-600 transition-all duration-500 bg-zinc-700 text-white justify-center items-center rounded-xl h-10 font-medium"
              >Reservar</a
            >
          </div>
        </div>
        <!-- product - end -->

        <!-- product - start -->
        <div
          class="w-60 p-1 bg-zinc-900 border-2 rounded-2xl border-zinc-800"
        >
          <a
            href="#"
            class="group relative mb-2 block overflow-hidden rounded-lg bg-gray-100 lg:mb-3"
          >
            <img
              src="https://images.unsplash.com/photo-1525708117204-bbe93e711abb?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGJhcmJlciUyMHNob3B8ZW58MHx8MHx8fDA%3D"
              loading="lazy"
              alt="Photo by Fakurian Design"
              class="w-full object-cover object-center transition duration-200 group-hover:scale-110 h-40"
            />
          </a>

          <div class="flex flex-col p-2">
            <p
              href="#"
              class="text-white hover:gray-800 mb-1 transition duration-100 lg:text-lg"
            >
              Vintage Barber
            </p>

            <p class="text-zinc-400">Avenida São Sebastião, 357 São Paulo</p>

            <a
              href="#"
              class="flex  hover:bg-violet-600 transition-all duration-500 bg-zinc-700 text-white justify-center items-center rounded-xl h-10 font-medium"
              >Reservar</a
            >
          </div>
        </div>
        <!-- product - end -->

        <!-- product - start -->
        <div
          class="w-60 p-1 bg-zinc-900 border-2 rounded-2xl border-zinc-800"
        >
          <a
            href="#"
            class="group relative mb-2 block overflow-hidden rounded-lg bg-gray-100 lg:mb-3"
          >
            <img
              src="https://images.unsplash.com/photo-1589985494639-69e60c82cab2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGJhcmJlYXJpYXxlbnwwfHwwfHx8MA%3D%3D"
              loading="lazy"
              alt="Photo by Fakurian Design"
              class="w-full object-cover object-center transition duration-200 group-hover:scale-110 h-40"
            />
          </a>

          <div class="flex flex-col p-2">
            <p
              href="#"
              class="text-white hover:gray-800 mb-1 transition duration-100 lg:text-lg"
            >
              Vintage Barber
            </p>

            <p class="text-zinc-400">Avenida São Sebastião, 357 São Paulo</p>

            <a
              href="#"
              class="flex  hover:bg-violet-600 transition-all duration-500 bg-zinc-700 text-white justify-center items-center h-10 font-medium rounded-xl"
              >Reservar</a
            >
          </div>
        </div>
      </div>
      <!-- product - end -->
    </div>
  </main>