<div *ngFor="let reserva of reservas" class="card-confirmado">
  <div
    class="flex items-center rounded-xl bg-zinc-800 w-[440px] h-32 justify-between"
  >
    <div class="p-4 w-3/4 flex flex-col justify-evenly h-full gap-1">
      <div
        class="w-[85px] mb-2 rounded-full bg-violet-950 flex items-center justify-center"
      >
        <span class="text-violet-400 text-xs font-bold p-1">Confirmado</span>
      </div>
      <span class="text-white font-medium text-xl">{{ reserva.servico }}</span>
      <article class="flex items-center justiy-center gap-2">
        <img class="h-8 w-8 rounded-full" src="images/1.jpg" alt="" />
        <span class="text-white font-thin">{{ reserva.barbearia }}</span>
      </article>
    </div>
    <div
      class="flex flex-col justify-center gap-1 h-full border-s border-zinc-700 w-1/4"
    >
      <span class="text-white font-thin text-center">{{ reserva.data }}</span>
      <span class="text-white font-medium text-center text-3xl">{{ reserva.horario }}</span>
    </div>
    <button
      class="rounded-lg py-2.5 px-6 text-center text-white bg-red-600 transition-all duration-500 hover:bg-red-500"
      (click)="cancelarReserva(reserva.id)"
    >
      Cancelar Reserva
    </button>
  </div>
</div>
