<div
  class="flex items-center rounded-xl bg-zinc-800 w-[440px] h-32 justify-between"
>
  <div class="p-4 w-3/4 flex flex-col justify-evenly h-full gap-1">
    <div
      class="w-[85px] mb-2 rounded-full bg-violet-950 flex items-center justify-center"
    >
      <span class="text-violet-400 text-xs font-bold p-1">Confirmado</span>
    </div>
    <span class="text-white font-medium text-xl">Corte de Cabelo</span>
    <article class="flex items-center justiy-center gap-2">
      <img class="h-8 w-8 rounded-full" src="images/1.jpg" alt="" />
      <span class="text-white font-thin">Vintage Barber</span>
    </article>
  </div>
  <div
    class="flex flex-col justify-center gap-1 h-full border-s border-zinc-700 w-1/4"
  >
    <span class="text-white font-thin text-center">Fevereiro</span>
    <span class="text-white font-medium text-center text-3xl">06</span>
    <span class="text-white font-thin text-center text-sm">09:45</span>
  </div>
</div>
