<form class="flex h-20 items-center gap-2">
  <input
    type="search"
    id="default-search"
    class="w-96 h-10 pl-5 rounded-lg bg-zinc-800 text-white"
    placeholder="Buscar Barbearia"
    required
  />

  <button
    type="submit"
    class="bg-violet-500 h-10 hover:bg-purple-700 transition-all duration-500 w-12 flex justify-center items-center rounded-lg"
  >
    <svg
      class="w-6 h-6 text-white"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-width="2"
        d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"
      />
    </svg>
  </button>
</form>
